:root {
	--border-size: 0.125rem;
	--duration: 250ms;
	--ease: cubic-bezier(0.215, 0.61, 0.355, 1);
	--font-family: monospace;
	--color-primary: white;
	--color-secondary: black;
	--color-tertiary: dodgerblue;
	--shadow: rgba(0, 0, 0, 0.1);
	--space: 1rem;
}

* {
	box-sizing: border-box;
}

.header {
	background: rgb(52, 152, 249);
	background: linear-gradient(186deg, rgba(52, 152, 249, 1) 0%, rgba(12, 60, 107, 1) 9%, rgba(52, 152, 249, 1) 26%, rgba(12, 60, 107, 1) 45%, rgba(52, 152, 249, 1) 71%, rgba(12, 60, 107, 1) 87%, rgba(26, 102, 177, 1) 100%);
	height: 100px;
	width: 100%;
	position: relative;
}

.centerBlock {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

/*
.logo{
	width: 200px;
	height: 200px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	top: 0;
}
.logo img{
	width: 100%;
	height: 100%;
}
*/
.button {
	position: relative;
	overflow: visible;
	display: inline-block;
	padding: .3em .7em;
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font: 20px/normal sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: -ms-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	-moz-background-clip: padding;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	zoom: 1;
	*display: inline;
}

.button:hover,
.button:focus {
	border-color: #3072b3;
	border-bottom-color: #2a65a0;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	color: #fff;
	background-color: #3C8DDE;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
	background-image: -webkit-linear-gradient(#599bdc, #3072b3);
	background-image: -moz-linear-gradient(#599bdc, #3072b3);
	background-image: -o-linear-gradient(#599bdc, #3072b3);
	background-image: -ms-linear-gradient(#599bdc, #3072b3);
	background-image: linear-gradient(#599bdc, #3072b3);
}




.arrBntRound {
	display: flex;
	position: relative;
	width: 400px;
	left: 50%;
	transform: translate(-50%);
}
.arrBntRound div ul{
	list-style: none;
	position: absolute;
	width: 300px;
	overflow: hidden;
	overflow-y: scroll;
	text-align: center;
	cursor: pointer;
}
.arrBntRound div ul:hover{
	height: 90px;
}
.arrBntRound div ul li{
	position: relative;
	display: none;
	width: 300px;
	margin-top: 10px;
	cursor: pointer;
}
.arrBntRound div ul li:last-child{
	margin-bottom: 20px;
}
.arrBntRound div ul li a{
	text-decoration: none;
	background: #fff;
	position: relative;
	width: 250px;
	display: block;
	text-align: center;
	font-family: Broadway;
}
.arrBntRound div ul:hover li{
	display: block;
}
.button + .button,
.button + .arrBntRound,
.arrBntRound + .button,
.arrBntRound + .arrBntRound {
	margin-left: 15px
}

.arrBntRound .button {
	margin-left: -1px;
}


.red {
	float: left;
	position: relative;
	left: 20px;
	color: #fff;
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.blue {
	float: right;
	position: relative;
	right: 20px;
	color: #fff;
	display: flex;
	width: 300px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.upBlock {
	display: flex;
	flex-wrap: nowrap;
	width: 300px;
	position: relative;
	align-items: center;
	justify-content: center;
}

.name {
	font-size: 36px;
	text-align: center;
	font-family: Arial;
}

.score {
	font-size: 42px;
	text-align: center;
	width: 50px;
	margin-left: 5px;
}

.refactors {
	display: flex;
	width: 250px;
	flex-wrap: nowrap;
}

.led {
	width: 250px;
	height: 4px;
	border-radius: 20px;
	position: absolute;
	bottom: -10px;
	transition: all .3s linear;
}

.showArrBntRound {
	display: none;
	position: relative;
	overflow: visible;
	padding: .3em .7em;
	border: 1px solid #d4d4d4;
	margin: 0;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font: 20px/normal sans-serif;
	color: #333;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	background-color: #ececec;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
	background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
	background-image: -moz-linear-gradient(#f4f4f4, #ececec);
	background-image: -o-linear-gradient(#f4f4f4, #ececec);
	background-image: -ms-linear-gradient(#f4f4f4, #ececec);
	background-image: linear-gradient(#f4f4f4, #ececec);
	-moz-background-clip: padding;
	-webkit-border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	border-radius: 0.2em;
	zoom: 1;
}

@media screen and (max-width: 991px) {
	.name {
		font-size: 22px;
	}
	.score {
		font-size: 22px;
	}
	.red, .blue, .refactors {
		width: 60px;
	}
	.led {
		display: none;
	}
	.arrBntRound {
		display: block;
	}
}

@media screen and (max-width: 479px) {
	.name {
		font-size: 22px;
	}

	.score {
		font-size: 22px;
	}

	.red, .blue, .refactors {
		width: 60px;
	}

	.led {
		display: none;
	}

	.arrBntRound {
		display: block;
	}

	/*.showArrBntRound{
		display: block;
	}
	.showArrBntRound:hover + .arrBntRound{
		display: block;
	}*/
}