.round4{
	position: relative;
	height: calc(100vh - 250px);
	width: 100%;
}
.imgVariants{
	width: 700px;
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
}
.imgVar{
	position: relative;
	margin-left: 10px;
	margin-top: 30px;
}
.selectVar{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}
.imgVariants img{
	width: 200px;
	height: 200px;
}
.messBtn{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 30px
}
.messBtn button{
	margin-left: 10px;
	width: 150px;
	height: 40px;
}
.messBtn button:hover{
	cursor: pointer;
}
.prev{
	position: relative;
	float: left;
	opacity: .4;
}
.prev:hover{
	opacity: .7;
}
.prev button{
	height: calc(100vh - 250px);
	width: 50px;
	border: none;
	transition: all .2s linear;
}
.next{
	position: relative;
	float: right;
	opacity: .4;
}
.next:hover{
	opacity: .7;
}
.next button{
	height: calc(100vh - 250px);
	width: 50px;
	border: none;
	transition: all .2s linear;
}
.next button i, .prev button i{
	color: #d5d5d5;
	transition: all .2s linear;
	font-size: 32px;
}
.next button:hover i, .prev button:hover i{
	color: #4d4d4d;
}
.prev button:hover, .next button:hover{
	cursor: pointer;
	background: #e9e9e9;
}
.prev button:focus, .next button:focus{
	display: none;
}
.containerVariantsWord{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
}
.blockVariants{
	display: flex;
	position: relative;
	white-space: nowrap;
}
.variant{
	font-size: 22px;
	text-align: center;
	background: #000;
	color: #fff;
	padding: 10px 30px;
}
.variant:last-child{
	padding-right: 30px;
}

.answerBlock{
	position: relative;
	font-size: 20px;
	text-align: center;
	margin-bottom: 5px;
}
.containerPlace{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%);
}
.infoCountRound{
	position: absolute;
	bottom: 20px;
	left: 70px;
	font-size: 42px;
}
select:hover{
	cursor: pointer;
}