.round3 {
	position: relative;
	height: calc(100vh - 100px);
	width: 100%;
	background: rgb(7,5,37);
	background: linear-gradient(90deg, rgba(7,5,37,1) 0%, rgba(57,57,60,1) 35%, rgba(57,57,60,1) 75%, rgba(7,5,37,1) 100%);
}
.containerWordBlock{
	position: relative;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 900px;
	bottom: 10px;
}

.blockWord{
	border: 1px solid #000;
	margin-left: 20px;
	margin-top: 20px;
	width: 250px;
	height: 60px;
	font-size: 36px;
	text-align: center;
	position: relative;
	background: #fff;
	transition: all .2s linear;
	box-shadow: 0px 1px #161616,
					0px 2px #757575,
					0px 3px #656565,
					0px 4px #555555,
					0px 5px #444444,
					0px 6px #323232,
					0px 7px #262626,
					0px 8px #161616,
					1px 3px 12px #000,
					2px 3px 3px #262626,
					-1px 3px 3px #323232,
					-2px 3px 4px #fff

;
}
.blockWord span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.blockWord:hover{
	cursor: pointer;
	box-shadow: none;
	color: #fff;
	background: rgb(14,120,231);
	background: linear-gradient(180deg, rgba(14,120,231,1) 0%, rgba(22,87,155,1) 50%, rgba(14,120,231,1) 100%);
}


.messBtn{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	flex-wrap: nowrap;
	height: 100px;
}
.messBtn button{
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: bold;
	padding: 12px 20px;
	font-size: 18px;
	position: relative;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	display: inline-block;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
	margin-bottom: 40px;
	border-radius: 5px 5px  5px 5px;
	padding-right: 25px;
	width: 250px;
	height: 50px;
	margin-left: 3px;
	background: #2a8ad8;
	box-shadow: 0 5px 5px #364a8e, 0 9px 0 #25325e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);

}
.messBtn button:hover{
	cursor: pointer;
	box-shadow: 0 5px 5px #364a8e, 0 9px 0 #25325e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}
.messBtn button:first-child{
	border-radius: 5px 5px  5px 35px;
	padding-right: 25px;
}
.messBtn button:last-child{
	border-radius: 5px 5px 35px 5px;
}
.messBtn button:active{
	box-shadow: 0 2px 0 #25325e, 0px 4px 4px rgba(0,0,0,0.3), inset 0px 2px 5px rgba(0,0,0,0.2);
}
.messBtn button:focus{
	outline: none;
}
.answer{
	font-size: 52px;
	position: relative;
	width: calc(100% - 100px);
	text-align: center;
	left: 50%;
	transform: translate(-50%);
	white-space: pre-wrap;
	top: 100px;
	height: calc(100vh - calc(100vh - 360px));
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 0 #9e9e9e,
	0 7px 0 #808080,
	0 8px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}
.mus{
	position: absolute;
	top: 26%;
	left: 50%;
	transform: translate(-50%);
	z-index: 2;
	height: 40vh;
	width: 50%;
}
.mus img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 1px #cacaca, 6px 6px 20px #000, -6px -6px 20px #000;
}
.noteImg{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%);
	display: block;
	height: 32vh;
}
.noteImgShadow{
	display: none;
}
.noteImg img{
	height: 100%;
	z-index: -1;
	animation-name: moveNote;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	transform: rotateZ(10deg);
}
@keyframes moveNote {
	0%{
		transform: scale(1.2) rotateZ(5deg);
	}

	100%{
		transform: scale(1.3) rotateZ(2deg);
	}
}
.prompt {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	color: #000;
	top: 65%;
	font-style: italic;
	width: calc(100% - 200px);
}
.promptBlock{
	position: relative;
	height: 10vh;
}
.promptBlock img{
	width: 100%;
	position: absolute;
	height: 100%;
	z-index: -1;
	left: 50%;
	transform: translate(-50%);
}
.shadowImg img{
	width: 100%;
	position: absolute;
	height: 10vh;
	z-index: -1;
	opacity: .8;
	left: 50%;
	transform: translate(calc(-50% - 5px), 5px);
}
.wrwqrw{
	width: calc(100% - 300px);
	font-family: "Book Antiqua";
	font-size: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 50%;
	transform: translate(-50%);
	position: absolute;
	height: 10vh;
}
.prev{
	position: relative;
	float: left;
	opacity: .4;
}
.prev:hover{
	opacity: .7;
}
.prev button{
	height: calc(100vh - 100px);
	width: 50px;
	border: none;
	transition: all .2s linear;
}
.next{
	position: relative;
	float: right;

	opacity: .4;
}
.next:hover{
	opacity: .7;
}
.next button{
	height: calc(100vh - 100px);
	width: 50px;
	border: none;
	transition: all .2s linear;
}
.next button i, .prev button i{
	color: #d5d5d5;
	transition: all .2s linear;
	font-size: 32px;
}
.next button:hover i, .prev button:hover i{
	color: #4d4d4d;
}
.prev button:hover, .next button:hover{
	cursor: pointer;
	background: #e9e9e9;
}
.prev button:focus, .next button:focus{
	display: none;
}
.words{
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%);
}
.timerBlock{
	position: absolute;
	top: 10px;
	left: 50px;
}
.infoCountRound{
	position: absolute;
	bottom: 20px;
	left: 70px;
	font-size: 42px;
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
						0 2px 0 #c9c9c9,
						0 3px 0 #bbb,
						0 4px 0 #b9b9b9,
						0 5px 0 #aaa,
						0 6px 0 #9e9e9e,
						0 7px 0 #808080,
						0 8px 1px rgba(0,0,0,.1),
						0 0 5px rgba(0,0,0,.1),
						0 1px 3px rgba(0,0,0,.3),
						0 3px 5px rgba(0,0,0,.2),
						0 5px 10px rgba(0,0,0,.25),
						0 10px 10px rgba(0,0,0,.2),
						0 20px 20px rgba(0,0,0,.15);
	transform:  rotateZ(6deg) rotateX(-15deg) rotateY(20deg);
	letter-spacing: 3px;
}
/*Большие планшеты*/
@media screen and (max-width: 1080px){
	.noteImg{
		display: none;
	}
	.mus img{
		height: 250px;
	}
	.containerWordBlock{
		width: 90%;
	}
	.blockWord{
		width: 150px;
		font-size: 24px;
		height: 50px;
	}
	.messBtn{
		font-size: 24px;
		left: 60%;
	}
	.messBtn button{
		width: 200px;
	}
	.messBtn button:first-child{
		border-radius: 0;
	}
	.messBtn button:last-child{
		border-radius: 0;
	}
	.timerBlock{
		top: 0;
		left: 30px;
	}
}

	@media screen and (max-width: 767px) {
	.noteImg{
		display: none;
	}
	.mus img{
		height: 250px;
	}
	.containerWordBlock{
		width: 90%;
	}
	.blockWord{
		width: 150px;
		font-size: 24px;
		height: 50px;
	}
	.messBtn{
		font-size: 24px;
		left: 60%;
	}
	.messBtn button{
		width: 200px;
	}
	.messBtn button:first-child{
		border-radius: 0;
	}
	.messBtn button:last-child{
		border-radius: 0;
		margin-top: -30px;
	}
	.timerBlock{
		top: 0;
		left: 30px;
	}
}
@media screen and (max-width: 479px) {
	.noteImg{
		display: none;
	}
	.mus img{
		height: 250px;
	}
	.containerWordBlock{
		width: 90%;
	}
	.blockWord{
		width: 150px;
		font-size: 24px;
		height: 50px;
	}
	.messBtn{
		font-size: 24px;
		left: 60%;
	}
	.messBtn button{
		width: 200px;
	}
	.messBtn button:first-child{
		border-radius: 0;
	}
	.messBtn button:last-child{
		border-radius: 0;
		margin-top: -30px;
	}
	.timerBlock{
		top: 0;
		left: 30px;
	}
}