.mainMenu{
	width: 100%;
	background: url("./../../library/experimental.png");
	height: calc(100vh - 100px);
	background-size: cover;
	position: relative;
}
.backImg{
	height: calc(100vh - 100px);
	width: 100%;
	background: #000;
	opacity: .5;
}
.teams{
	position: absolute;
	border: 2px solid #000;
	padding: 5px;
	background: rgba(255, 255, 255, .9);
	left: 10%;
	width: 420px;
	transform: translate(0, -50%);
	top: 50%;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 0 0 15px #fff;

}

.teams *{
	width: 400px;
	margin-top: 10px;
	font-size: 18px;
}
.teams h2{
	text-align: center;
	font-family: Cambria;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 15px 0;
	letter-spacing: 2px;
}
.teams span{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 35px;
	position: relative;
}
.teams span i{
	position: absolute;
	margin: 0 0 0 -30px;
}
.teams span:nth-child(2){
	color: red;
}
.teams span:nth-child(4){
	color: blue;
}
.teams input{
	min-height: 30px;
	max-height: 30px;
	min-width: 400px;
	max-width: 400px;
	background: rgba(218, 218, 218, 0.4);
	border: 1px solid rgba(177, 177, 177, 0.4);
	font-family: "Times New Roman";
	padding-left: 15px;
}

.teams button{
	height: 50px;
	color: #0d0e0d;
	background: rgb(62,173,219);
	background: linear-gradient(180deg, rgba(62,173,219,1) 0%, rgba(57,153,194,1) 100%);
	border: 2px solid #fff;
	font-size: 24px;
	font-family: "Bauhaus 93";
	letter-spacing: .1rem;
	margin: 30px 0 5px;
}
.teams button:hover{
	cursor: pointer;
	background: rgb(47, 124, 163);
	background: linear-gradient(180deg, rgb(45, 115, 149) 0%, rgb(41, 105, 135) 100%);
	color: #fff;
}
.autograph img{
	width: 150px;
	position: absolute;
	bottom: 0;
	border-radius: 50px 0 0 0;
	right: 0;
	box-shadow: -1px -1px 15px #FF8C00;
}

